$base-spacing:                  10px;
$duration:                      300ms;
$bd-radius:                     5px;
$tr-duration:                   $duration;
$tr-letters:                    3px;
$c-light:                       #ffffff;
$c-border:                      #d8d8d8;


$c-country: #333333;
$c-water: #0d5469;
$c-border: #555;
$c-marker: rgba(251,0,181, 1);
$c-marker-stroke: rgba(251,0,181, 0.5);


// map controls vars
$sz-controls: 150px;
$sz-control: 8px;
$sz-compass: 100px;
$bw-controls: 1px;

$sz-compass-middle: $sz-compass * 0.65;
$triangle-transparent: $sz-control solid transparent;
$triangle: $sz-control solid $c-light;
$triangle-hover: $sz-control solid $c-marker;
$bc-controls: rgba(255, 255, 255, 0.2);