doctype html
html(lang="en")

	meta(charset="utf-8")
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	title Base React template
	meta(name="description" content="D3 React map")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

	body
		#root